# pip install -r requirements.txt
agate==1.9.1
    # via
    #   dbt-adapters
    #   dbt-common
    #   dbt-core
altair==6.2.2
    # via streamlit
annotated-types==0.8.0
    # via pydantic
anyio==4.14.2
    # via
    #   starlette
    #   streamlit
argon2-cffi==25.1.0
    # via minio
argon2-cffi-bindings==25.1.0
    # via argon2-cffi
async-timeout==5.0.1 ; python_full_version < '3.11.3'
    # via redis
attrs==26.1.0
    # via
    #   jsonschema
    #   referencing
babel==2.18.0
    # via agate
black==26.5.1
blinker==1.9.0
    # via streamlit
cachetools==7.1.7
    # via streamlit
certifi==2026.7.22
    # via
    #   minio
    #   requests
cffi==2.1.1
    # via argon2-cffi-bindings
cfgv==3.5.0
    # via pre-commit
charset-normalizer==3.4.9
    # via requests
click==8.4.2
    # via
    #   black
    #   dbt-core
    #   streamlit
    #   uvicorn
colorama==0.4.6
    # via
    #   click
    #   dbt-common
    #   pytest
confluent-kafka==2.15.0
    # via learning-spark
contourpy==1.3.2 ; python_full_version < '3.11'
    # via matplotlib
contourpy==1.3.3 ; python_full_version >= '3.11'
    # via matplotlib
cycler==0.12.1
    # via matplotlib
daff==1.4.2
    # via dbt-core
dbt-adapters==1.24.5
    # via
    #   dbt-core
    #   dbt-trino
dbt-common==1.38.0
    # via
    #   dbt-adapters
    #   dbt-core
    #   dbt-trino
dbt-core==1.12.0
    # via dbt-trino
dbt-core-experimental-parser==2.0.0a5
    # via dbt-core
dbt-extractor==0.6.0
    # via dbt-core
dbt-protos==1.0.541
    # via
    #   dbt-adapters
    #   dbt-common
    #   dbt-core
dbt-trino==1.10.3
    # via learning-spark
deepdiff==8.6.2
    # via dbt-common
distlib==0.4.3
    # via virtualenv
exceptiongroup==1.3.1 ; python_full_version < '3.11'
    # via
    #   anyio
    #   pytest
filelock==3.32.2
    # via
    #   python-discovery
    #   virtualenv
fonttools==4.63.0
    # via matplotlib
gitdb==4.0.12
    # via gitpython
gitpython==3.1.59
    # via streamlit
googleapis-common-protos==1.75.1
    # via grpcio-status
grpcio==1.83.0
    # via
    #   grpcio-status
    #   learning-spark
grpcio-status==1.83.0
    # via learning-spark
h11==0.16.0
    # via uvicorn
httptools==0.8.0
    # via streamlit
identify==2.6.19
    # via pre-commit
idna==3.18
    # via
    #   anyio
    #   requests
importlib-metadata==9.0.0
    # via metricflow
iniconfig==2.3.0
    # via pytest
isodate==0.7.2
    # via
    #   agate
    #   dbt-common
isort==8.0.1
itsdangerous==2.2.0
    # via streamlit
jinja2==3.1.6
    # via
    #   altair
    #   dbt-common
    #   dbt-core
    #   metricflow
    #   pydeck
joblib==1.5.3
    # via scikit-learn
jsonschema==4.26.0
    # via
    #   altair
    #   dbt-common
    #   dbt-core
    #   metricflow
jsonschema-specifications==2025.9.1
    # via jsonschema
kafka-python==3.0.10
    # via learning-spark
kiwisolver==1.5.0
    # via matplotlib
leather==0.4.1
    # via agate
lz4==4.4.5
    # via trino
markupsafe==3.0.3
    # via jinja2
mashumaro==3.17
    # via
    #   dbt-adapters
    #   dbt-common
    #   dbt-core
matplotlib==3.10.9 ; python_full_version < '3.11'
    # via
    #   learning-spark
    #   seaborn
matplotlib==3.11.1 ; python_full_version >= '3.11'
    # via
    #   learning-spark
    #   seaborn
metricflow==0.211.0
    # via dbt-core
minio==7.2.20
    # via learning-spark
more-itertools==10.8.0
    # via metricflow
msgpack==1.2.1
    # via mashumaro
mypy-extensions==1.1.0
    # via black
mysql-connector-python==26.7.0
    # via learning-spark
narwhals==2.24.0
    # via
    #   altair
    #   scikit-learn
networkx==3.4.2 ; python_full_version < '3.11'
    # via dbt-core
networkx==3.6.1 ; python_full_version >= '3.11'
    # via dbt-core
nodeenv==1.10.0
    # via pre-commit
numpy==2.2.6 ; python_full_version < '3.11'
    # via
    #   contourpy
    #   learning-spark
    #   matplotlib
    #   pandas
    #   pydeck
    #   scikit-learn
    #   scipy
    #   seaborn
    #   streamlit
numpy==2.4.6 ; python_full_version == '3.11.*'
    # via
    #   contourpy
    #   learning-spark
    #   matplotlib
    #   pandas
    #   pydeck
    #   scikit-learn
    #   scipy
    #   seaborn
    #   streamlit
numpy==2.5.2 ; python_full_version >= '3.12'
    # via
    #   contourpy
    #   learning-spark
    #   matplotlib
    #   pandas
    #   pydeck
    #   scikit-learn
    #   scipy
    #   seaborn
    #   streamlit
orderly-set==5.5.0
    # via deepdiff
orjson==3.11.9 ; platform_python_implementation != 'PyPy'
    # via trino
packaging==26.3
    # via
    #   altair
    #   black
    #   dbt-core
    #   matplotlib
    #   pytest
    #   streamlit
pandas==2.3.3 ; python_full_version < '3.11'
    # via
    #   learning-spark
    #   seaborn
    #   streamlit
pandas==3.0.5 ; python_full_version >= '3.11'
    # via
    #   learning-spark
    #   seaborn
    #   streamlit
parsedatetime==2.6
    # via agate
pathspec==1.0.4
    # via
    #   black
    #   dbt-common
    #   dbt-core
pillow==12.3.0
    # via
    #   matplotlib
    #   streamlit
platformdirs==4.11.1
    # via
    #   black
    #   virtualenv
pluggy==1.6.0
    # via pytest
pre-commit==4.2.0
protobuf==6.33.6
    # via
    #   dbt-adapters
    #   dbt-common
    #   dbt-core
    #   dbt-protos
    #   googleapis-common-protos
    #   grpcio-status
    #   streamlit
psycopg2-binary==2.9.12
    # via learning-spark
py4j==0.10.9.9
    # via pyspark
pyarrow==25.0.0
    # via
    #   learning-spark
    #   streamlit
pycparser==3.0 ; implementation_name != 'PyPy'
    # via cffi
pycryptodome==3.23.0
    # via minio
pydantic==2.13.4
    # via
    #   dbt-core
    #   metricflow
pydantic-core==2.46.4
    # via pydantic
pydeck==0.9.3
    # via streamlit
pygments==2.20.0
    # via pytest
pyparsing==3.3.2
    # via matplotlib
C:\Users\Meu Computador\AppData\Local\uv\cache\sdists-v9\pypi\pyspark\4.2.0\mGRxJo1LAQ32DnuZlDMZX\pyspark-4.2.0-py2.py3-none-any.whl
pytest==9.1.1
python-dateutil==2.9.0.post0
    # via
    #   dbt-common
    #   matplotlib
    #   metricflow
    #   pandas
    #   trino
python-discovery==1.5.1
    # via virtualenv
python-dotenv==1.2.2
    # via
    #   dbt-core
    #   learning-spark
python-multipart==0.0.32
    # via streamlit
python-slugify==8.0.4
    # via agate
pytimeparse==1.1.8
    # via agate
pytokens==0.4.1
    # via black
pytz==2026.3.post1
    # via
    #   dbt-adapters
    #   dbt-core
    #   pandas
    #   trino
pyyaml==6.0.3
    # via
    #   dbt-core
    #   metricflow
    #   pre-commit
rapidfuzz==3.14.5
    # via metricflow
redis==8.1.0
    # via learning-spark
referencing==0.37.0
    # via
    #   jsonschema
    #   jsonschema-specifications
    #   metricflow
requests==2.34.2
    # via
    #   dbt-common
    #   dbt-core
    #   dbt-trino
    #   learning-spark
    #   snowplow-tracker
    #   streamlit
    #   trino
rpds-py==0.30.0 ; python_full_version < '3.11'
    # via
    #   jsonschema
    #   referencing
rpds-py==2026.6.3 ; python_full_version >= '3.11'
    # via
    #   jsonschema
    #   referencing
ruff==0.16.2
scikit-learn==1.7.2 ; python_full_version < '3.11'
    # via learning-spark
scikit-learn==1.9.0 ; python_full_version >= '3.11'
    # via learning-spark
scipy==1.15.3 ; python_full_version < '3.11'
    # via scikit-learn
scipy==1.17.1 ; python_full_version == '3.11.*'
    # via scikit-learn
scipy==1.18.0 ; python_full_version >= '3.12'
    # via scikit-learn
seaborn==0.13.2
    # via learning-spark
six==1.17.0
    # via python-dateutil
smmap==5.0.3
    # via gitdb
snowplow-tracker==1.1.0
    # via dbt-core
sqlglot==30.15.0
    # via metricflow
sqlparse==0.6.0
    # via dbt-core
starlette==1.6.0
    # via streamlit
streamlit==1.59.1
    # via learning-spark
tabulate==0.10.0
    # via metricflow
tenacity==9.1.4
    # via streamlit
text-unidecode==1.3
    # via python-slugify
threadpoolctl==3.6.0
    # via scikit-learn
toml==0.10.2
    # via streamlit
tomli==2.4.1 ; python_full_version < '3.11'
    # via
    #   black
    #   pytest
trino==0.338.0
    # via
    #   dbt-trino
    #   learning-spark
typing-extensions==4.16.0
    # via
    #   altair
    #   anyio
    #   black
    #   confluent-kafka
    #   dbt-adapters
    #   dbt-common
    #   dbt-core
    #   exceptiongroup
    #   grpcio
    #   mashumaro
    #   metricflow
    #   minio
    #   pydantic
    #   pydantic-core
    #   referencing
    #   snowplow-tracker
    #   starlette
    #   streamlit
    #   typing-inspection
    #   uvicorn
    #   virtualenv
typing-inspection==0.4.2
    # via pydantic
tzdata==2026.3 ; python_full_version < '3.11' or sys_platform == 'emscripten' or sys_platform == 'win32'
    # via
    #   agate
    #   pandas
    #   tzlocal
tzlocal==5.4.4
    # via trino
urllib3==2.7.0
    # via
    #   minio
    #   requests
uvicorn==0.52.1
    # via streamlit
virtualenv==21.7.3
    # via pre-commit
watchdog==6.0.0 ; sys_platform != 'darwin'
    # via streamlit
websockets==16.1.1 ; python_full_version < '3.11'
    # via streamlit
websockets==17.0.1 ; python_full_version >= '3.11'
    # via streamlit
zipp==4.1.0
    # via importlib-metadata
zstandard==0.25.0
    # via
    #   learning-spark
    #   trino
